<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/styles/style.css" />
</head>

<body>
    <h1>Authorize to See Website</h1>
    <form>
        <input type="password" />
        <button type="submit">Login</button>
    </form>
</body>

<script src="/scripts/script.js"></script>

</html>